<div id="gallery-div">
    <ul>
        <li>
            <img src="/img/dashiell-hammett-standing.jpg" alt="dh">
        </li>
        <li>
            <img src="/img/dh-gallery-1.jfif" alt="dh">
        </li>
        <li>    
            <img src="/img/dh-gallery-2.jpg" alt="dh">
        </li>
        <li>
            <img src="/img/dh-gallery-3.jpg" alt="dh">
        </li>
        <li>
            <img src="/img/dh-gallery-4.jpg" alt="dh">
        </li>
        <li>
            <img src="/img/dh-gallery-5.jpg" alt="dh">
        </li>
        <li>
            <img src="/img/dh-gallery-6.jpg" alt="dh">
        </li>
        <li>
            <img src="/img/dh-gallery-7.jpg" alt="dh">
        </li>
    </ul>
</div>