<div id="works-div">
    <h1>Here's a sample of <em>Dashiell Hammett</em>'s work</h1>
    <ul>
        <li>
            <img src="/img/red-harvest-cover.jpg" alt="red-harvest-cover">
            <h2>Red harvest</h2>
            <h3>1929</h3>
        </li>
        <li>
            <img src="/img/th-dain-curse-cover.jpg" alt="the-dain-curse-cover">
            <h2>The Dain Curse</h2>
            <h3>1929</h3>
        </li>
        <li>
            <img src="/img/the-maltese-falcon-cover.jpg" alt="the-maltese-falcon-cover">
            <h2>The Maltese Falcon</h2>
            <h3>1930</h3>
        </li>
        <li>
            <img src="/img/the-glass-key-cover.jpg" alt="the-glass-key-cover">
            <h2>The glass key</h2>
            <h3>1931</h3>
        </li>
        {{!-- <li>
            <img src="/img/the-thin-man-cover.jpg" alt="the-thin-man-cover">
            <h2>The thin man</h2>
            <h3>1934</h3>
        </li> --}}
    </ul>
</div>